# Ignore everything by default
*

# Allow only specific file types
!*.py
!*.md
!*.txt
!*.ipynb
!*jpeg
!*svg
!*.png
!LICENSE
!*.gif
!all_rag_techniques
!data
!evaluation
!images
!*.yml
!.github
!.github/workflows

# remove specific files
__pycache__/
__init__.py

# 中文版特定文件
!.gitignore
!README.md
!README_CN.md
!README_for_CN.md
!all_rag_techniques_cn/
!all_rag_techniques_cn_friendly/
!all_rag_techniques_runnable_scripts_cn/

